[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "submodules/NKSR"]
	path = submodules/NKSR
	url = https://github.com/nv-tlabs/NKSR.git
[submodule "submodules/CityGaussian"]
	path = submodules/CityGaussian
	url = https://github.com/Linketic/CityGaussian.git
[submodule "submodules/mast3r"]
	path = submodules/mast3r
	url = https://github.com/naver/mast3r
