[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "submodules/NKSR"]
	path = submodules/NKSR
	url = https://github.com/nv-tlabs/NKSR.git
